body {
	background-color: white;
}

.pic_div{
// 	background-color: $primary-color;
	width: 1000px;
	height: 500px;
	background-image: url("boogaloopic1-sized.jpg");
	
	position: fixed;
	z-index: -300;
}