body {
	background-color: white;
}

.pic{
	width: 100%;
	height: 100%;
}
.pic_div{
	display: block;
	background-color: $primary-color;
	width: 1000px;
	height: 500px;
	background-image: url("background_image.jpg");
	
// 	position: fixed;
	z-index: 300;
}

.test {
	background-color: $primary-color;
	width: 1000px;
	height: 500px;
// 	background-image: url("background_image.jpg");	
}