header {

	@include media($large-media) {
		width: 100%;
		text-align: center;
		background: $primary-color;
		padding-top: 0;
		position: fixed;
		top: 0;
		z-index: -1;
		height: 200px;

	}
    
	@include media($small-media) {
		width: 100%;
		text-align: center;
		background: $primary-color;
		padding-top: 0;
		position: fixed;
		top: 0;
		z-index: 200;
		height: 100px;
			
	}
/*
	background-image: url("blue-abstract.jpg");
// 	background-size: 800px 200px;
*/

// 	display: table-cell;
	vertical-align: middle;
	h1/* headline */{
		@include media($large-media) {
			margin-top: 30px;
			text-align: center;
			font-family: $headline-font;
			font-size: 4em;		
			color: white;
			letter-spacing: 2px;
			text-shadow: 3px 3px 1px $primary-color-darken3;
		}
    
		@include media($small-media) {
			margin-top: 10px;
			text-align: center;
			font-family: $headline-font;
			font-size: 2em;		
			color: white;
			letter-spacing: 2px;
			text-shadow: 3px 3px 1px $primary-color-darken3;				
		}
	}
	
	p {
		font-size: .6em;
		text-align: center;
		line-height: .5em;
		font-family: $secondary-font;
		font-weight: 700;
// 		text-transform: uppercase;
		@include media($small-media) {
			line-height: .2em;
			position: relative;
			bottom: 5px;					
		}
	}	
}

/*
}

h1.headline {
	margin-top: 0;
	text-align: center;
	font-family: $headline-font;
	font-size: 2em;


}
*/
