header {
	height: 200px;
	width: 100%;
	text-align: center;
	background: $primary-color;
	padding-top: 0;
	position: fixed;
	top: 0;
	z-index: -1;
// 	display: table-cell;
	vertical-align: middle;

}

h1.headline {
	margin-top: 0;
	text-align: center;
	

}
